@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(2, 9, 18);
  /* Dark background */
  color: #f5f5f5;

}

/* Main Container */
.home-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar (Profile Section) */
.sidebar {
  width: 28%;
  /* height: 80%; */
  background: rgb(7, 14, 30);
  padding: 3rem 3.5rem;
  text-align: center;
  border: -1.5px solid #0b1444dd;
  border-radius: 10%;
  margin: 30px;
  background: linear-gradient(135deg, #2e3e44, #0d1c21, #000000);
}

.sidebar img {
  width: 200px;
  height: 200px;
  border-radius: 17%;
  /* border: 3px solid #0a58ca; */
  margin-bottom: 1rem;
  transition: 0.3s;
  margin-left: 40px;
  object-fit: cover;
}

.sidebar img:hover {
  box-shadow: 0 0 20px #0a58ca;
  transform: scale(1.05);
}

.line {
  width: 80%;
  height: 1px;
  background-color: #0a58ca;
  margin: 35px auto;
}

.sidebar h2 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bolder;
}

.sidebar p.role {
  color: #e6e8e9;
  font-weight: 200;
  background-color: #74beff36;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63%;
  height: 39px;
  margin-left: 50px
}


.contact-info {
  margin-left: 1.4rem;
  display: block;
  text-align-last: start;
}

.contact-info p,
.contact-info a {
  /* margin: 0.4rem 0; */
  color: #ddd;
  font-size: 0.9rem;
  text-decoration: none;
}

.contact-info .type {
  color: #7998c6;
  font-weight: 600;
  margin-bottom: -1px;
  /* margin-top: 20px; */
}

.contact-info a:hover {
  color: #0a58ca;
}

.social-icons {
  /* margin-top: 1.5rem; */
  margin-left: -1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Right Content */
.content {
  flex: 1;
  padding: 1.5rem;
  margin-top: 2.5rem;
}

.content h2 {
  color: #5b82a9;
  margin-bottom: 1rem;
  font-size: x-large;
  font-weight: 700;
}

/* About Section */
.about {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.about p {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 4rem;
  padding-right: 3rem;
}

/* Services / What I'm Doing */
.services h2 {
  margin-bottom: 1.2rem;
}

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background: rgb(15 16 20);
  padding: 1.5rem;
  border-radius: 15px;
  width: 280px;
  border-top: groove;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px #0a58ca55;
}

.card h3 {
  margin-bottom: 0.5rem;
  color: #66b2ff;
  font-size: 1.2rem;
}

.line2 {
  width: 80%;
  height: 2px;
  background-color: #3c577e;
  margin: -1rem 0 2rem 0;
}